
<h1 class="text-center">The Code Coven</h1>

<p class="text-center">Meet the geniuses behind Hexonomicon! We are a very small Circle of Adept Mages, in your service.</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
