

<!-- <link rel="stylesheet" href="/css/cart.css"> -->

<div class="container">
	<div class="row">
		<div class="col-md-3" id="curseCol">Curse</div>
		<div class="col-md-3" id="quantCol">Quantity</div>
		<div class="col-md-3" id="priceCol">Price</div>
		<div class="col-md-3" id="pirceCol">Price</div>

	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/cart.js"></script>
