<script src="cart.js"></script>
<link rel="stylesheet" href="css/cart.css">

<div class="container">
	<div id="cart-wrapper">
		<p>Your Order:</p>
		<div class="row" id="order_row">
			test
		
	
		</div>
		
	</div>
	
	<form action="/order_conf" method="POST">
		<input type="text">

	</form>

</div>