<h1>Thank you for contacting us!</h1>
<p>Please visit our <a href="/services">Services Page</a> to view what voodoo we can do for you!</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
