
<div id="form_container">
	<br>
	<br>

	<h1>Contact Us!</h1>
	<p>For those of you unable to contact us using magical means, we will also accept e-mails...</p>
	<form action="/contact" method="POST">
		<input type="email" name="email" id="email" placeholder="Email"><br><br>
		<textarea type="text" name="message" id="message" placeholder="Is there something you would like to tell us . . . ?"></textarea><br>
		<input type="submit" class="btn" value="Contact Us">
	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
