
<div class="loading-modal">

	<div class="candle"></div>
	<div id="match" class="match">
  	<a href="#match"></a>
	</div>
	<div class="fire"><a href=""></a></div>
	<div class="light"></div>
</div>



<div class="normal-page" style="display: none;">
	<h1>Fáilte <%= @first_name %></h1>

	<p>
		Fáilte is gaelic for welcome. Gaelic is a spooky language that witches use.
	</p>

	<p>
		We are Hexonomicon. A coven of spooky witches that specialize in the dark arts. We are prepared to practice our arcane rituals to better your life and worsen the lives of your enemies. In exchange, we only ask for a fraction of your soul, an essential item to help cast the spell and a large sum of money.
	</p>

	<hr>

	<p>
		Life is nasty, brutish and short. Sometimes there seems to be no justice in the universe. Our good deeds and best efforts are rarely rewarded, while we watch corrupt people in positions of power thrive in this wicked world. You've wonder why. You've looked for answers. But what you probably didn't know is that behind every major undeserved success lies secret dark magic. The Kardashians, Dr Phils Harvey Weinsteins of this world have been harnessing the arcane energy of the demiurge, Yaldaboath. And now you can, too!
	</p>

	<p>
		"But it takes years of training!" you exclaim. "I haven't fostered a relationship with a spiritual animal companion that can guide me through the shadow realms!"<br><br>
		That's a good point. A novice should never attempt such powerful magic without years of astral projecting, lest they find their bones being gnawed on for eternity by the gaping mouth of Ma'at.<br>
		That is why we will brave the unknoweable nether so you don't have to! Continue to our <a href="/services">Services Page</a> and peruse the services we provide.
	</p>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/home.js"></script>
