<h1>fáilte <%= @first_name %></h1>

<p>
	Fáilte is gaelic for welcome. Gaelic is a spooky language that witches use.
</p>

<p>
	We are Hexonomicon. A coven of spooky witches that specialize in the dark arts. We are prepared to practice our arcane rituals to better your life and worses the lives of your enemies. In exchange, we only ask for a fraction of your soul. And a large sum of money.

<p>
	Quis laboris brooklyn irure portland bitters activated charcoal cardigan helvetica hella magna actually cold-pressed ad. Live-edge brunch ennui, occupy craft beer franzen prism shaman kombucha et cronut austin gluten-free ramps. Cornhole nulla vinyl hammock dolore in knausgaard bitters typewriter enim art party freegan kinfolk portland. Scenester shoreditch kale chips health goth veniam semiotics pork belly, keytar chambray vape tilde magna next level PBR&B chia. Everyday carry dolore thundercats, authentic shaman ipsum dolore austin 8-bit proident meggings. Subway tile tempor shoreditch adipisicing lorem aute tilde culpa church-key ad farm-to-table in synth heirloom. Kickstarter cupidatat meh quis vegan. Kombucha post-ironic organic, nisi williamsburg cray af food truck pour-over salvia truffaut hammock. Semiotics lo-fi ipsum intelligentsia. XOXO glossier exercitation esse minim brooklyn ennui man bun deep v you probably haven't heard of them thundercats eiusmod meh tote bag blog. Lo-fi cronut flexitarian normcore, pitchfork shaman enim +1 elit et tattooed subway tile taxidermy. Poutine williamsburg occupy ipsum.
</p>
	