<div id="form_container">
	<h1>Please enter your info to log in</h1>
	<form action="/log_in" method="POST">
		<input type="text" name="first_name" id="first_name" placeholder="First Name">
		<input type="text" name="last_name" id="last_name" placeholder="Last Name">
		<input type="email" name="email" id="email" placeholder="Email">
		<input type="password" name="password" id="password" placeholder="Password">
		<input type="submit" value="Creat Account">
	</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
