<div class="product-box">
	<h1>Financial Ruin Curse</h1>
	Mulad Tobhta Ionmhasail, better known as the financial ruin curse, will leave the accursed in financial shambles. An ancient philosopher who went by the name of Notorios B.I.G once said "mo money mo problems."  Do not however, let that deter you from allowing us to cast the curse of financial ruin upon your victim. They will be begging the gods for mo money by the time the curse has run it's course. The mo money you give us the mo money they will lose. 
	<img src="/img/green_candle.jpg" alt="green candle">
	<div class="add add-hex1">Add</div>
	<div class="remove rem-hex1">Remove</div>
</div>
<div class="product-box">
	<h1>Barren Head Curse</h1>
	Mharbh-cheannard Barren, also known has the barren head curse, can have a devastating outcome for the accursed. It has long been known, predating many ancient moons that a man or woman bereft of hair is simply just gross, or as it is said in Gaelic "gross." To help us cast the curse click on the button and select a balding pattern of your choosing from the chart below.   
	<button id="bald_button" type="button" class="btn btn-danger">Balding Chart</button>
	<img src="/img/gray_candle.jpg" alt="gray candle">
	<div class="add add-hex2">Add</div>
	<div class="remove rem-hex2">Remove</div>
</div>
<div id="bald_pic_container">
	<img src="/img/balding_pic.png" alt="">
	<button id="chart_button" type="button" class="btn btn-danger">Close Chart</button>
</div>
<div class="product-box">
	<h1>Flatulence Jinx</h1>
	Síoraí Lig Sé Broim, or the curse of eternal flatulence, is one of the most vile and powerful hexes from ancient lore. With nary a magical fruit involved, the vexed will toot and toot to the end of their days. This was the very curse that St. Padraig bestowed upon the snakes in Ireland to drive them into the sea...
	<img src="/img/blood_candle.jpg" alt="blood candle">
	<div class="add add-hex3">Add</div>
	<div class="remove rem-hex3">Remove</div>
</div>
<div class="product-box">
	<h1>The Odorous Ordeal</h1>
	Bu Yao Wen, or The Oderous Ordeal, will haunt your victim with an ominous offal odor. This vexation has been handed down from one court magician to another for thousands of years in the sorcery circles of China. The ancient philosopher and Tephramancer, Hu Fa Ting, used this dangerous curse on the Qin emporer's would-be assassins. They had to find new jobs as fishmongers, as they could never sneak up on another soul again.
	<img src="/img/black_flame_candle.jpg" alt="black flame candle">
	<div class="add add-hex4">Add</div>
	<div class="remove rem-hex4">Remove</div>
</div>
<div class="product-box">
	<h1>The Plague of Powerlessness</h1>
	Níl aon Fhuinneamh Agat is a terrible torment that should be spared for only your worst enemies. It causes the cursed to forever forget to plug their divices in on time. They may charge their laptop overnight and cry out in rage in the morning when they come to discover it was not plugged into the wall. The chargers in their car will never be compatible with electronic devices, and they will install the most power-hungry, unclosable apps. 
	<img src="/img/all_red_candle.jpg" alt="red candle">
	<div class="add add-hex5">Add</div>
	<div class="remove rem-hex5">Remove</div>
</div>
<div class="product-box">
	<h1>Financial Ruin Curse</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit possimus provident ea exercitationem sed maiores nisi tenetur velit inventore sunt, delectus, commodi vitae porro incidunt natus dolore voluptatum illo explicabo!
	<img src="/img/insect_plague.jpg" alt="insect plague candle">
	<div class="add add-hex6">Add</div>
	<div class="remove rem-hex6">Remove</div>
	<h1>Curse Of The Earworm</h1>
	Mhallachd A 'Chluarain, is a nightmarish curse that allows us to transfer a neverending tune into the victims brain. The eternal tune that will loop in their head will be a tune of your choosing. What will it be? "Macarena" by Los Del Rio, "Barbie Girl" by Aqua, or "Tubthumpin" by Chumbawamba? If you cant decide on a tune we have an offering of our own creation. Just hit play below to hear a sample. 
	<audio controls src=""></audio>
	<img src="/img/musical_candle.jpg" alt="musical note candle">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/services.js"></script>

