<div class="product-box">
	<h1>Financial Ruin Curse</h1>
	Mulad Tobhta Ionmhasail, better known as the financial ruin curse, will leave the accursed in financial shambles. The more money you shell out on the curse, the worse their financial ruin shall be. It's up to you. Do you want them to simply lose their wallet or lose their home? You be the decider and we will cast the curse. 
	<img src="/img/green_candle.jpg" alt="green candle">
</div>
<div class="product-box">
	<h1>Barren Head Curse</h1>
	Mharbh-cheannard Barren, also known as the balding curse, will leave the accurseds head bare with no hair.  How much hair will they lose? Well, that is for you decide.  You will simply choose an option from this chart. 
	<p><img src="/img/balding_pic.png" alt=""></p>
	<img src="/img/gray_candle.jpg" alt="gray candle">
</div>
<div class="product-box">
	<h1>Financial Ruin Curse</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit possimus provident ea exercitationem sed maiores nisi tenetur velit inventore sunt, delectus, commodi vitae porro incidunt natus dolore voluptatum illo explicabo!
	<img src="/img/blood_candle.jpg" alt="blood candle">
</div>
<div class="product-box">
	<h1>Financial Ruin Curse</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit possimus provident ea exercitationem sed maiores nisi tenetur velit inventore sunt, delectus, commodi vitae porro incidunt natus dolore voluptatum illo explicabo!
	<img src="/img/black_flame_candle.jpg" alt="black flame candle">
</div>
<div class="product-box">
	<h1>Financial Ruin Curse</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit possimus provident ea exercitationem sed maiores nisi tenetur velit inventore sunt, delectus, commodi vitae porro incidunt natus dolore voluptatum illo explicabo!
	<img src="/img/all_red_candle.jpg" alt="red candle">
</div>
<div class="product-box">
	<h1>Financial Ruin Curse</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit possimus provident ea exercitationem sed maiores nisi tenetur velit inventore sunt, delectus, commodi vitae porro incidunt natus dolore voluptatum illo explicabo!
	<img src="/img/insect_plague.jpg" alt="insect plague candle">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
