<div class="product-box">
	<h1>Financial Ruin Curse</h1>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit possimus provident ea exercitationem sed maiores nisi tenetur velit inventore sunt, delectus, commodi vitae porro incidunt natus dolore voluptatum illo explicabo!
	<img src="/img/green_candle.jpg" alt="green candle">
</div>